:root {
	--navbar-primary-bg: #ece8e1;
	--navbar-primary-color: #111111;
	--primary-bg: #2d383a;
	--primary-color: #ffffff;
	--primary-border: #2d383a7c;
}

html, 
body {
  overflow-x: hidden;
	background-color: var(--primary-bg);
	color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--navbar-primary-bg);
	color: var(--navbar-primary-color);
	padding: 1.0rem 2.5rem;
}

.navbar > svg {
	fill: var(--navbar-primary-color);
}

.navbar > .logo {
	display: flex;
	place-items: center;
}

.navbar > ul {
	padding: 0;
	display: flex;
	place-items: center;
	list-style-type: none;
}

.navbar > ul > li {
	padding-left: 4rem;
}

body {
	margin: 0rem;
	/* padding: 3rem 5rem; */
}

a {
	text-decoration: none;
	color: inherit;
}

.postcard {
	padding: 0.5rem 1rem;
	/* max-width: 2; */
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 9rem;
}

.postcard > img, .create-post-button {
	margin-left: auto;
	margin-right: auto;
}

.post-header {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}

.backbutton {
	background-color: var(--navbar-primary-bg); 
	display: grid;
	place-items: center;
	height: 4rem;
	width: 4rem;
	padding: 0.5rem;
	border-radius: 1rem;
}

.post-title {
	font-size: 5rem;
}

.create-post-button {
	background-color: var(--navbar-primary-bg);
	display: grid;
	place-items: center;
	height: 100px;
	width: 100px;
}

.create-post-form {
	display: flex;
	flex-direction: column;
}

.input-group > input {
	/* display: block; */
	width: 100%;
	padding: 1rem 0.5rem;
	border: 0.15rem solid var(--primary-border);
	border-radius: 0.5rem;
	background-color: var(--primary-color);
}

.input-group > label {
	width: 8rem;
	margin-top: auto;
	margin-bottom: auto;
}

.create-post-form {
	color: var(--navbar-primary-color);
	background-color: var(--navbar-primary-bg);
	border-radius: 1rem;
	padding: 3rem 4rem;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.quill-group, .input-group {
	padding: 0.5rem 0;
	width: 100%;
}

.quill-group > label {
	margin-top: 2rem;
}

.quill {
	background-color: var(--primary-color) !important;

}

.input-group {
	display: flex;
}

.create-post-form label {
	font-weight: bold;
}

.create-post-form > input[type="submit"] {
	width: 10rem;
	margin-left: auto;
	background-color: var(--primary-bg);
	color: var(--primary-color);
	font-size: 1.15rem;
	border-radius: 0.5rem;
	padding: 0.5rem 2rem;
}