:root {
	--navbar-primary-bg: #ece8e1;
	--navbar-primary-color: #111111;
	--primary-bg: #2d383a;
	--primary-color: #ffffff;
}

html, 
body {
  overflow-x: hidden;
	background-color: var(--primary-bg);
	color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--navbar-primary-bg);
	color: var(--navbar-primary-color);
	padding: 1.0rem 2.5rem;
}

.navbar > svg {
	fill: var(--navbar-primary-color);
}

.navbar > .logo {
	display: flex;
	place-items: center;
}

.navbar > ul {
	padding: 0;
	display: flex;
	place-items: center;
	list-style-type: none;
}

.navbar > ul > li {
	padding-left: 4rem;
}

body {
	margin: 0rem;
	/* padding: 3rem 5rem; */
}

a {
	text-decoration: none;
	color: inherit;
}

.postcard {
	padding: 0.5rem;
}

.post-header {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}

.backbutton {
	background-color: var(--navbar-primary-bg); 
	display: grid;
	place-items: center;
	height: 4rem;
	width: 4rem;
	padding: 0.5rem;
	border-radius: 1rem;
}

.post-title {
	font-size: 5rem;
}